{% extends 'base.html' %}
{% block title %}Products{% endblock %}
{% block content %}
    <div class="col-11" style="margin: auto 0">
        <h2 align="center">Pick product: </h2>
        <div class="container mt-5 w-75">
            {% for product in products %}
                <div class="d-flex flex-column mb-3 align-items-center">
                    <h3 class="text-center"><a class="link-dark" href=""
                                               style="text-decoration: none;">{{ product.title }}</a></h3>
                    <div class="align-self-center p-2 bd-highlight">
                        <a href="{% url 'product_detail' product.id %}"><img src="{{ product.image.url }}"></a>
                    </div>
                    <p class="w-75 mt-2">Description: {{ product.description }}</p>
                    <p class="w-75 mt-1"><strong>Price: {{ product.price }} BYN</strong></p>
                    <a class="btn btn-success" href="{% url 'add_to_shop_cart' product.id %}">Buy</a>
                </div>
                <hr class="own-hr">
            {% endfor %}
        </div>
    </div>
{% endblock %}


